# pycache
/__pycache__/*
**.DS_Store
**.pdf
**.h5
**.pyc
**.zip
**.exe

# Upload files
upload.ipynb
# Embedding files
text_emb.ipynb
text_emb_mean.ipynb

# soft_match
/soft_match/*

# /BioMedGraphica_raw/

# /BioMedGraphica-Conn/
/BioMedGraphica-Conn/*